*{
	margin: 0;
	padding: 0;
}
body{
	/*background: #6bafec;*/
	height: 100vh;
	font-family: arial, verdana;

}
#main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	align-items: center;
}
#playground{
    /*background: url(bkg.jpg) 0 0 repeat;*/
    /*background-size: 400px 530px;*/
    /*background-size: contain;*/
    /*height: 300px;*/
    width: 100vw;
    background-position: 0px 0px;
    transition: all .6s linear;
    /*border: 2px solid #6bafec;*/
}
#eee{
	border: 1px solid #000;
}

.slider{
	border: 3px solid #555;
	display: inline-block;
	width: 30px;
	height: 20px;
	border-radius: 20px;
	background: #ddd;
	position: relative;
	transition: all 1s linear;
}

.slider:before{
	content: '';
	width: 20px;
	height: 20px;
	background: #555;
	border-radius: 50%;
	position:absolute;
	top:0;
	transition: all 1s linear;
	cursor: pointer;
}

.slider[val=off]:before{
	transition: all 1s linear;
	left: 0;
}
.slider[val=on]:before{
	transition: all 1s linear;
	right: 0;
}

#controls{
	/* display: none; */
}

#controls > div{
	display: flex;
	align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;

}
#controls > div > *{
	margin: 10px;
}
